body {
  background-color: #d3d3d4;
  background-image: url("https://images.pexels.com/photos/159376/turntable-top-view-audio-equipment-159376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 250px auto;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 14px 24px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 900px;
  font-size: 36px;
  line-height: 1.5;
  color: black;
}

.form-container {
  padding: 20px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.example {
  font-size: 16px;
  opacity: 0.6;
  line-height: 1.5;
  margin-top: 10px;
}

.instruction {
  padding: 16px;
  border: 1px solid rgba (39, 33, 66, 0.6);
  width: 600px;
  font-size: 20px;
  border-radius: 15px;
  line-height: 20px;
  font-family: "Indie Flower", cursive;
}

.submit-button {
  margin-left: 10px;
  border: none;
  width: 200px;
  font-size: 20px;
  border-radius: 15px;
  line-height: 20px;
  font-family: "Indie Flower", cursive;
  background: #333333;
  color: white;
}

a {
  color: #45a286;
  font-weight: 900px;
}

.song {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  border: 1px solid #333333;
  background-color: rgb(221, 221, 221, 0.6);
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.blink {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
